body {
    background-color: #EDEFEE;
    font-family: "Gill Sans", sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

header {
    background-image: url(header2.jpg);
    background-size: 20%; 
    height: 20rem;
    display: flex;
    justify-content: center;

}
header > img {
    display: flex;
    justify-content: relative;
    height: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


nav {
    background-color: #2F5233;
    border-radius: .5rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    
    
}
nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

section {
    display: flex;
}

article {
    flex: 1;
}

article > img {
    width: 90%;
    height: 70%;
}

article > caption {
    text-align: center;
}

footer {
    display: flex;
    background-color: #2F5233;
    text-align: right;
    
}

footer div {
    flex: 1;
    
}

footer img{
    width: 4.3%;
    margin-right: 1.5%;
}

footer p{
    color: white;
    text-align: left;
    margin-left: 1.5%;
    margin-top: 3%;
   
}