body {
    background-color: #EDEFEE;
    font-family: "Gill Sans", sans-serif;
}

header {
    background-image: url(header2.jpg);
    background-size: 20%; 
    height: 20rem;
    display: flex;
    justify-content: center;

}
header > img {
    display: flex;
    justify-content: relative;
    height: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*navbar*/ 

.container {
    background-color: #2F5233;
    font-size: 1.2rem;
    height: 70px;
    color: white;
  }
  nav {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;
  }
    
    
nav ul {
    display: flex;
    list-style-type: none
}

nav li {
    display: flex;
    list-style-type: none
}

.container nav {
    justify-content: space-between;
}

.container nav ul li {
    padding: .5rem;
    margin: 0 .5rem;
}

nav a {
    color: white;
}

nav a:hover {
    color:#94C973;
}


/* main */
section {
    display: flex;
    background-color:#B1D8B7;
    padding: 1rem;
    
}

article {
    flex: 1;
    
}

article h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
    
}

.about p {
    font-size: 1.5rem;
    margin-top: .2rem;
}

article > img {
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards article{
    background-color: white;
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    height: 70%;
    width: 95%;
    
}

.cards img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: .5rem;
}

.cards a {
    background-color: green;
    border-radius: 1rem;
    padding: .5rem;
    color: white;
}

/* Footer */

footer {
    display: flex;
    background-color: #2F5233;
    text-align: right;
    padding: .5rem;
    
}

footer div {
    flex: 1;
    
}

footer img{
    width: 4.3%;
    margin-right: 1.5%;
}

footer p{
    color: white;
    text-align: left;
    margin-left: 1.5%;
    margin-top: 3%;
   
}


/* media queries */
@media screen and (min-width: 390px) and (max-width: 767px) {
    .container {
      height: 100%;
    }
  
    .container .navbar {
      flex-direction: column;
    }
  }